{% extends 'base.html' %}

{% block title %} Tag: ... {% endblock %}
{% block user_panel %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1"><i class="fas fa-angle-double-left fa-2x"></i></a>
            <a href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-angle-left fa-2x"></i></a>
        {% endif %}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"><i class="fas fa-angle-right fa-2x"></i></a>
            <a href="?page={{ page_obj.paginator.num_pages }}"><i class="fas fa-angle-double-right fa-2x"></i></a>
        {% endif %}
    </span>
</div>

{% endblock %}

{% block content %}
<h3> Tag: {{ tag_name }} </h3>
<hr>
<ul class="photo-grid list-unstyled mb-4">
    {% for picture in pictures %}
    <li>
          <a href="{% url 'gallery:single_picture' pk=picture.pk %}" class="text-dark">
            <div class="card rounded-0">
              <img class="card-img-top rounded-0" src="{{ picture.picture.url }}">
              <div class="card-body">
		<p class="card-text">
		  {{ picture.name }} <br/>
		  {% for name in picture.tags.names %}
		  {% if not forloop.first %}, {% endif %}
		  <a href="{% url 'gallery:tag_name' tag_name=name %}">{{ name }}</a>
		  {% endfor %}
		</p>
              </div>
            </div>
          </a>
        </li>
    {% empty %}
        <p>No items to display.</p>
    {% endfor %}
</ul>

{% endblock %}
